.GrandParent{
    background-color:rgba(242,236,230,255);
    
   
    
}
.container1{
    border-bottom: 1px solid;
}

.navbar-brand {
	color: white !important;
	font-weight: 600 !important;
}

.btn{
   margin-left: auto;
   
}
.img-one{
   
    background-color: rgb(0, 0, 0, 0.3);
    width: auto;
    height: auto;
	
	/* The rules below will perform the same action Pick anyone you prefer. 
	   One is commented out the other is not
	*/
	margin-top: -160px; /* -> Solution 1. */
	/* transform: translateY(-160px); -> Solution 2. */
}
.img-one img {
	height: 600px;
	object-fit: cover;
}

/* This Style below will be appllied to all <img/> tag in your HTML. */
img {
	object-fit: cover; /* or -> contain <- */
}

.padding-one{
    padding-left: 80px;
}
.testing{
    margin-top: 55px;
}
.hr2{
    
   
}
.hr3{
   
}
.style3{
    background-color: rgba(242,242,240,255); 
}
.design{
    width: 250px;
    height: 500px;
    
   
    background-color:rgba(142,89,58,255);
}
.design2{
    width: 250px;
    height: 500px;
   
     background-color: rgba(192,174,160,255);
}
.design3{
    width: 250px;
    height: 500px;
   
     background-color: rgba(162,120,104,255);

}
.style4{
    background-image: url(s.png) ;
    max-width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.innerstyle{
    background-color: rgba(61,48,41,255);
    opacity: 0.8;
    width: 200px;
    height: 500px; 
    padding: 30px ;
    
    
}
.hr4{
  border-bottom: 2px solid black;
  position: relative;
  bottom: 50px;
}

.bigp{ transform: translateY(-25);
    margin-left:-4px;
    ;}